In [1]:
import pandas as pd

In [2]:
df_all = pd.read_csv(
    "../simplemaps.csv"
)

/var/folders/6t/yn2bzknj4md_3s6cr6vl8h8c0000gn/T/ipykernel_62290/407606306.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_all = pd.read_csv(

In [3]:
df_all.head()

,uuid,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent
0,d3cca4a7-7994-47ff-9749-7df8ca7228e3,Mapillary,412070930384924,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
1,33f474ab-496e-41a7-86a6-08fad8fe6638,Mapillary,897137344568478,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
2,0da8bf8d-bf34-4d94-aa51-2a7a3c880f6b,Mapillary,266236242103987,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
3,23c0aa2e-573b-4a3f-a65b-fb8f7349725b,Mapillary,646336503014104,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia
4,4f47ba8e-8437-4213-9721-8336b02ea703,Mapillary,404485487755735,Urasoe,Urasoe,1392003314,26.2458,127.7219,Japan,JP,JPN,Okinawa,NaN,115855.0,Asia

In [5]:
df_city = df_all[df_all["city"] == "Amsterdam"]
df_city.head()

,uuid,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,iso3,admin_name,capital,population,continent
1905879,19c6e51e-fe64-4756-895d-7758889dbbd1,Mapillary,793569314897389,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,Europe
1905880,580ce8e7-fbdb-45e6-971b-6d5b6523d0ef,Mapillary,500509417737025,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,Europe
1905881,db31e5bc-5180-4320-b267-04ba3da0a980,Mapillary,299548784985576,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,Europe
1905882,642298a7-563e-4650-b308-5e4371238b84,Mapillary,300520878202732,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,Europe
1905883,32eeddbe-c4f0-4ac1-aff0-a0d19d258ae5,Mapillary,416737606538178,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,NLD,Noord-Holland,primary,862965.0,Europe

In [6]:
df_contextual = pd.read_csv("../contextual.csv")

/var/folders/6t/yn2bzknj4md_3s6cr6vl8h8c0000gn/T/ipykernel_62290/1316037496.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_contextual = pd.read_csv("../contextual.csv")

In [7]:
df_city_merged = df_city.merge(df_contextual, on=["uuid", "source", "orig_id"])
df_city_merged["lighting_condition"].unique()

array(['day', 'dusk/dawn', 'night'], dtype=object)

In [10]:
df_city_merged = df_city_merged[df_city_merged["lighting_condition"] == "day"]
df_city_merged.head()

,uuid,source,orig_id,city,city_ascii,city_id,city_lat,city_lon,country,iso2,...,population,continent,glare,lighting_condition,pano_status,platform,quality,reflection,view_direction,weather
0,19c6e51e-fe64-4756-895d-7758889dbbd1,Mapillary,793569314897389,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,...,862965.0,Europe,no,day,True,cycling surface,good,no,NaN,clear
1,580ce8e7-fbdb-45e6-971b-6d5b6523d0ef,Mapillary,500509417737025,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,...,862965.0,Europe,no,day,True,cycling surface,good,no,NaN,clear
2,db31e5bc-5180-4320-b267-04ba3da0a980,Mapillary,299548784985576,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,...,862965.0,Europe,no,day,True,cycling surface,good,no,NaN,clear
3,642298a7-563e-4650-b308-5e4371238b84,Mapillary,300520878202732,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,...,862965.0,Europe,no,day,False,walking surface,good,no,front/back,clear
4,32eeddbe-c4f0-4ac1-aff0-a0d19d258ae5,Mapillary,416737606538178,Amsterdam,Amsterdam,1528355309,52.3667,4.8833,Netherlands,NL,...,862965.0,Europe,no,day,False,walking surface,good,no,front/back,clear

In [11]:
df_to_download = df_city_merged[["uuid", "source", "orig_id"]]

In [13]:
df_to_download.to_csv("../ams_day.csv")